body {
  max-width: 800px;
  margin: 10em auto;
  background-color: #fff;
}

h1 {
  font-size: 6em;
  font-family: Georgia, times, serif;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  text-align: center;
}

#k {
  color: #009652;
}
#a {
  color: #DB4632;
}
#t {
  color: #FFB702;
}
#i {
  color: #1267E9;
}
#e {
  color: #DB4632;
}
